h2{
    letter-spacing: 2px;
    text-align: center;
    border: solid;
    width: 70;
    color : white;
    background-color: black;
    text-decoration:underline;
    text-decoration-color: red;
    font-family: 'Times New Roman', Times, serif;
} 
h3{
    font-weight: 700;
    font-family: fantasy;
} 