#container{
    height: 400px;
    width: 400px;
    border-color: aqua;
    border-radius: 10px aqua;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#box{
    height: 100px;
    width: 100px;
    font-size: 50px;
    background-color: gray;
    color: black;
    text-align: center;
    border-radius: 10px;


}